@charset "UTF-8";
.page .clear{
  height:50px; }

.page > .wrapper{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; }
  .page > .wrapper .aside{
    width:320px;
    margin:20px; }
    .page > .wrapper .aside .block{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column; }
      .page > .wrapper .aside .block-title{
        background:#33354d;
        color:#fff;
        padding:30px 10px;
        font:600 19px/14px "Roboto", Helvetica, Arial, san-serif;
        text-align:center;
        letter-spacing:0.5px; }
      .page > .wrapper .aside .block-content{
        background:#1c1e39;
        padding:10px; }
    .page > .wrapper .aside ul{
      top:150px !important; }
      .page > .wrapper .aside ul li{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        margin:20px 0; }
        .page > .wrapper .aside ul li a{
          color:#202e64;
          letter-spacing:0.5px;
          text-transform:uppercase;
          font:500 12.5px/14px "Roboto", Helvetica, Arial, san-serif;
          -webkit-transition:all 0.5s;
          transition:all 0.5s; }
          .page > .wrapper .aside ul li a:hover{
            -webkit-transition:all 0.5s;
            transition:all 0.5s;
            opacity:0.4; }
          .page > .wrapper .aside ul li a.active{
            opacity:0.4; }
        .page > .wrapper .aside ul li:before{
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          content:'○';
          font-size:20px;
          color:#19234d;
          margin:0 8px; }
  .page > .wrapper .content{
    background:#f8f8f8;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    letter-spacing:0.3px;
    font:300 14.5px/18px "Roboto", Helvetica, Arial, san-serif;
    padding:20px 30px;
    margin:20px 0 60px;
    min-height:70vh;
    -webkit-box-shadow:0 2px 68px 0 rgba(0, 0, 0, .06);
            box-shadow:0 2px 68px 0 rgba(0, 0, 0, .06); }
    .page > .wrapper .content-nobg{
      background:transparent;
      -webkit-box-shadow:none;
              box-shadow:none; }
    .page > .wrapper .content ul{
      margin-bottom:25px; }
      .page > .wrapper .content ul li{
        font:400 14px/18px "Roboto", Helvetica, Arial, san-serif;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        margin:2px 0; }
        .page > .wrapper .content ul li:before{
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          content:'○';
          font-size:20px;
          color:#19234d;
          margin:0 8px; }
    .page > .wrapper .content p{
      margin:10px 0; }
    .page > .wrapper .content h2{
      font:500 22px/18px "Roboto", Helvetica, Arial, san-serif; }
    .page > .wrapper .content .ps{
      margin-top:50px;
      font:300 12px/18px "Roboto", Helvetica, Arial, san-serif;
      color:#202e64; }
      .page > .wrapper .content .ps p{
        margin:2px 0; }

.tables{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column; }
  .tables .tline{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    border-bottom:1px solid rgba(0, 0, 0, .1); }
    .tables .tline .tsec{
      padding:15px 10px;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column;
      font:400 16px/18px "Roboto", Helvetica, Arial, san-serif; }
      .tables .tline .tsec:nth-child(1){
        width:40%;
        font:300 14px/18px "Roboto", Helvetica, Arial, san-serif; }
      .tables .tline .tsec:nth-child(2){
        width:30%; }
      .tables .tline .tsec:nth-child(3){
        width:30%; }
    .tables .tline.theader span{
      font:500 14px/18px "Roboto", Helvetica, Arial, san-serif; }
      .tables .tline.theader span:nth-child(2){
        font:400 12px/12px "Roboto", Helvetica, Arial, san-serif; }
