.admin{
  padding:60px 20px; }
  .admin > .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column; }
  .admin .nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; }
    .admin .nav a{
      margin:0 10px;
      padding:10px 20px;
      letter-spacing:1px;
      font:400 11px/14px "Roboto", Helvetica, Arial, san-serif;
      border:3px solid transparent; }
      .admin .nav a.active{
        color:#19234d;
        background:#fff;
        border-color:#19234d; }
      .admin .nav a:last-child{
        margin-left:auto; }
  .admin .content{
    padding:60px 0px; }
    .admin .content .uk-table caption{
      font:300 16px/14px "Roboto", Helvetica, Arial, san-serif;
      margin:20px 10px; }
  .admin .controls a{
    margin:0 5px;
    color:#19234d; }
