section#hero{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  background:url("/img/hero.png") no-repeat center center/cover;
  height:650px; }
  section#hero > .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column; }
  section#hero .title{
    width:800px;
    font:600 54px/1.3 "Roboto", Helvetica, Arial, san-serif;
    padding:0;
    text-align:center;
    position:relative;
    z-index:2;
    color:#fff;
    color:#000; }
  section#hero .buttons{
    position:relative;
    z-index:2;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top:60px;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row; }
    section#hero .buttons .button{
      margin:0 100px; }

section#partners{
  background:#f8f8f8;
  padding:0; }
  section#partners .slide{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column; }
    section#partners .slide img{
      width:180px;
      height:180px;
      -webkit-transition:all 0.5s;
      transition:all 0.5s; }
    section#partners .slide span{
      width:100%;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-pack:center;
          -ms-flex-pack:center;
              justify-content:center;
      text-align:center;
      letter-spacing:1px;
      margin-top:-10px;
      font:400 14px/1.3 "Roboto", Helvetica, Arial, san-serif; }

section#services{
  background:#f3f5f9;
  background:url("/img/bg_serv2.jpg") no-repeat center center/cover;
  padding:50px 0; }
  section#services .services{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    align-items:center; }
    section#services .services .item{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-align:center;
          -ms-flex-align:center;
              align-items:center;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column;
      margin-top:60px;
      flex-direction:column;
      width:25%;
      padding:15px;
      -webkit-transition:0.5s;
      transition:0.5s;
      visibility:hidden; }
      section#services .services .item.uk-scrollspy-inview{
        visibility:visible; }
      section#services .services .item i{
        width:110px;
        height:110px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        background:#202e64;
        width:110px;
        height:110px;
        border-radius:50%;
        color:#fff;
        margin-bottom:20px; }
        section#services .services .item i > .icon{
          font-size:50px; }
      section#services .services .item .item_text{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-line-pack:center;
            align-content:center;
        height:50px;
        text-align:center;
        font:400 17px/1.3 "Roboto", Helvetica, Arial, san-serif;
        color:#fff;
        height:50px;
        font:400 17px/1.3 "Roboto", Helvetica, Arial, san-serif; }

section#itsworks{
  background:url("/img/its-works.jpg") no-repeat;
  padding:50px 0;
  background-size:cover;
  color:#fff; }
  section#itsworks .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column; }
  section#itsworks h2{
    font:500 40px/30px "Roboto", Helvetica, Arial, san-serif;
    margin:50px 0 0;
    color:#fff;
    margin-bottom:100px; }
  section#itsworks .cards{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; }
    section#itsworks .cards .card-content{
      padding:5px;
      margin:0 10px;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column;
      width:16.66667%;
      margin:0 10px; }
      section#itsworks .cards .card-content .card-content__icon{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        margin-bottom:30px;
        margin:0 0 30px; }
        section#itsworks .cards .card-content .card-content__icon i .icon{
          color:#fff;
          font-size:40px; }
      section#itsworks .cards .card-content .card-content__text{
        text-align:center;
        letter-spacing:0.2px;
        color:#fff;
        font:500 14px "Roboto", Helvetica, Arial, san-serif; }

section#garant{
  background:#fff;
  padding:50px 0;
  position:relative; }
  section#garant > .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column; }
    section#garant > .wrapper h2{
      font:500 40px/30px "Roboto", Helvetica, Arial, san-serif;
      margin:50px 0 0;
      text-align:center; }
    section#garant > .wrapper ul{
      margin:50px 0 0;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
          -ms-flex-direction:row;
              flex-direction:row; }
      section#garant > .wrapper ul li{
        position:relative;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        width:25%;
        margin:10px 15px;
        flex-direction:column; }
        section#garant > .wrapper ul li i{
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-pack:center;
              -ms-flex-pack:center;
                  justify-content:center;
          -webkit-box-align:center;
              -ms-flex-align:center;
                  align-items:center; }
          section#garant > .wrapper ul li i .icon{
            font-size:80px;
            font-size:80px;
            color:#19234d; }
        section#garant > .wrapper ul li h3{
          margin-top:20px;
          text-align:center;
          font:600 18px/20px "Roboto", Helvetica, Arial, san-serif;
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-pack:center;
              -ms-flex-pack:center;
                  justify-content:center; }
        section#garant > .wrapper ul li span{
          font:400 14px/20px "Roboto", Helvetica, Arial, san-serif;
          letter-spacing:0.2px;
          position:relative;
          z-index:2;
          text-align:center;
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-align:center;
              -ms-flex-align:center;
                  align-items:center;
          -webkit-box-pack:center;
              -ms-flex-pack:center;
                  justify-content:center; }
  section#garant a.button{
    width:250px;
    position:absolute;
    bottom:-25px;
    left:50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%); }

section#about{
  background:#fff url("/img/aboutbg.png") no-repeat center center;
  padding:50px 0; }
  section#about > .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; }
  section#about .content-about{
    width:1000px;
    padding:20px 70px;
    width:1000px;
    padding:20px 70px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    color:#0c1220; }
    section#about .content-about h1{
      font:600 3em/0 "Roboto", Helvetica, Arial, san-serif; }
    section#about .content-about span{
      font:400 20px/10px "Roboto", Helvetica, Arial, san-serif;
      color:#202e64;
      display:block; }
    section#about .content-about .text{
      margin-top:15px;
      font:400 17px/1.2em "Roboto", Helvetica, Arial, san-serif; }
      section#about .content-about .text p{
        margin-top:5px; }
    section#about .content-about .more{
      color:#202e64;
      font:400 17px/1.2em "Roboto", Helvetica, Arial, san-serif;
      margin-top:20px; }

section#order{
  background:#fff;
  background:url("/img/bf_quote.jpg") no-repeat center center;
  padding:120px 0; }
  section#order > .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; }
    section#order > .wrapper .left,
    section#order > .wrapper .right{
      width:50%; }
    section#order > .wrapper .right{
      padding:50px;
      margin-top:35px;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-pack:center;
          -ms-flex-pack:center;
              justify-content:center;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column; }
      section#order > .wrapper .right .right__title{
        margin-top:200px;
        font:800 32px/34px "Roboto", Helvetica, Arial, san-serif;
        color:#202e64; }
      section#order > .wrapper .right .right__content{
        margin-top:50px;
        font:500 17px/20px "Roboto", Helvetica, Arial, san-serif; }
      section#order > .wrapper .right .button{
        margin-top:60px;
        width:300px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex; }
    section#order > .wrapper .left{
      margin-top:50px;
      padding:60px;
      background:#fff;
      -webkit-box-shadow:0 2px 68px 0 rgba(0, 0, 0, .06);
              box-shadow:0 2px 68px 0 rgba(0, 0, 0, .06); }
  section#order h2{
    margin:10px 15px 50px;
    font:800 34px/14px "Roboto", Helvetica, Arial, san-serif; }
  @media only screen and (max-width: 768px){
  section#hero .title{
    width:100%; }
  section#hero .title{
    font:600 24px/1.3 "Roboto", Helvetica, Arial, san-serif; }
  section#hero .title{
    padding:0; }
  section#hero .buttons{
    margin-top:10px; }
  section#hero .buttons{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row; }
  section#hero .buttons .button{
    margin:10px 0 0; }
  section#partners{
    padding:25px 0; }
  section#services{
    padding:25px 0; }
  section#services .services{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row; }
  section#services .services{
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start; }
  section#services .services .item{
    margin-top:10px; }
  section#services .services .item{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column; }
  section#services .services .item i{
    background:transparent; }
  section#services .services .item i{
    width:100px;
    height:100px; }
  section#itsworks{
    padding:25px 0; }
  section#itsworks .cards .card-content{
    width:50%; }
  section#itsworks .cards .card-content{
    margin:0; }
  section#garant{
    padding:25px 0; }
  section#garant > .wrapper ul li{
    width:50%; }
  section#about{
    padding:25px 0; }
  section#about .content-about{
    width:100%; }
  section#about .content-about{
    padding:20px; } }
  @media only screen and (max-width: 640px){
  section#hero .title{
    width:100%; }
  section#hero .title{
    font:600 24px/1.3 "Roboto", Helvetica, Arial, san-serif; }
  section#hero .title{
    padding:20px; }
  section#hero .buttons{
    margin-top:10px; }
  section#hero .buttons{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column; }
  section#hero .buttons .button{
    margin:10px 0 0; }
  section#partners{
    padding:10px 0; }
  section#partners .slide span{
    font:600 14px/1.3 "Roboto", Helvetica, Arial, san-serif; }
  section#services{
    padding:10px 0; }
  section#services .services{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column; }
  section#services .services{
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start; }
  section#services .services .item{
    margin-top:10px; }
  section#services .services .item{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row; }
  section#services .services .item{
    width:100%; }
  section#services .services .item{
    padding:0 5px; }
  section#services .services .item i{
    background:transparent; }
  section#services .services .item i{
    width:50px;
    height:50px; }
  section#services .services .item i > .icon{
    font-size:30px; }
  section#services .services .item .item_text{
    height:20px; }
  section#services .services .item .item_text{
    margin-left:20px; }
  section#services .services .item .item_text{
    margin-top:-30px; }
  section#services .services .item .item_text{
    text-align:inherit; }
  section#services .services .item .item_text{
    font:400 15px/1.3 "Roboto", Helvetica, Arial, san-serif; }
  section#itsworks{
    padding:40px 20px; }
  section#itsworks h2{
    font:500 20px/30px "Roboto", Helvetica, Arial, san-serif; }
  section#itsworks h2{
    margin:10px 0 0; }
  section#itsworks .cards{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column; }
  section#itsworks .cards .card-content{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row; }
  section#itsworks .cards .card-content{
    width:100%; }
  section#itsworks .cards .card-content{
    margin:10px 0; }
  section#itsworks .cards .card-content{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center; }
  section#itsworks .cards .card-content .card-content__icon{
    margin:0; }
  section#itsworks .cards .card-content .card-content__text{
    margin-left:20px; }
  section#itsworks .cards .card-content .card-content__text{
    text-align:left; }
  section#garant{
    padding:20px 0 50px; }
  section#garant > .wrapper h2{
    font:500 20px/30px "Roboto", Helvetica, Arial, san-serif; }
  section#garant > .wrapper h2{
    margin:10px 0 0; }
  section#garant > .wrapper ul{
    margin:10px 0 0; }
  section#garant > .wrapper ul{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column; }
  section#garant > .wrapper ul li{
    width:100%; }
  section#garant > .wrapper ul li{
    margin:10px 0; }
  section#garant > .wrapper ul li{
    padding:10px; }
  section#garant > .wrapper ul li{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row; }
  section#garant > .wrapper ul li i{
    width:100px;
    height:auto; }
  section#garant > .wrapper ul li i .icon{
    font-size:50px; }
  section#garant > .wrapper ul li > div{
    padding-left:30px; }
  section#garant a.button{
    display:none; }
  section#about{
    padding:10px 0; }
  section#about .content-about{
    width:100%; }
  section#about .content-about{
    padding:15px; }
  section#order{
    display:none; } }
